<h1>Welcome to MyPlate Meal Planner</h1>

<%= link_to "Add a Meal", new_meal_path %> <br>

<% @meals.each do |meal| %>
<%= link_to meal.day + " " + meal.meal, meal_path(meal) %>
<%= "-" + " " + meal.meal_name %>
<br>
<% end %>
