<div class="page_detail">

  <h1>Shopping List</h1>

  <h3>Your shopping list:</h3>
  <ul class="fa-ul">
    <% @ingredients.each do |i| %>
      <% if i.shopping_list == true %>
        <li><%= link_to '<i class="fa fa-minus-square-o plus_minus_icon"></i>'.html_safe, update_list_path(i.id), method: :patch %>     <%= i.ingredient_name %> </li>
      <% end %>
    <% end %>
  </ul>

  <h3>Ingredients you already have:</h3>
  <ul class="fa-ul">
    <% @ingredients.each do |i| %>
      <% if i.shopping_list == false %>
        <li><%= link_to '<i class="fa fa-plus-square-o plus_minus_icon"></i>'.html_safe, update_list_path(i.id), method: :patch %>     <%= i.ingredient_name %></li>
      <% end %>
    <% end %>
  </ul>

</div>
