// Place all the styles related to the meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Allan:bold|Oleo+Script|Cabinxs');

$plate_width: 300px;

div.plate {
  position: relative;
  height: $plate_width;
  width: $plate_width*1.4;
  margin: 30px;
  img.top_left{
    position:absolute;
    top: 0;
    left: 0;
    width: $plate_width/2;
  }

  img.top_right{
    position:absolute;
    top: 0;
    left: $plate_width/2;
    width: $plate_width/2;
  }
  img.bottom_right{
    position:absolute;
    bottom: 0;
    left: $plate_width/2;
    width: $plate_width/2;
  }
  img.bottom_left{
    position:absolute;
    bottom: 0;
    left: 0;
    width: $plate_width/2;
  }
  img.outside_top {
    position:absolute;
    top: 0;
    right: 0;
    width: $plate_width/3;

  }
}

img.needed {
  opacity: .2;
}

body {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  width: 100%;
  color: #4D4850;
  margin-left: auto;
  margin-right: auto;
}

.page_detail {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 50px;

}

.center {
  text-align: center;
}

table {
  margin: auto;
}

th {
  text-align: center;
}

td {
  padding: 10px;
}

h1 {
  font-size: 3em;
  font-family: 'Oleo Script', Helvetica, sans-serif;
  text-align: center;
}

form {
  margin: auto;
  padding: 0px 50px 0px 50px;
  line-height: 200%;
}

fieldset {
  padding-bottom: 20px;
  border: 0;
}

label {
  margin-left: 10px;
}

input, select {
  border: none;
  border-glow: none;
  background-color: #C9C7CB;
  outline: none;
  padding: 5px;
  font-size: 1.05em;
  border-radius: 5px;
}

input {

}

textarea {
  width: 250px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #C9C7CB;
  padding: 5px;
  font-size: 1.05em;
  border-radius: 5px;
}

.week {
  padding: 10px;
  height: 80px;
  width: 80px;
  text-align: center;
  position: relative;

}

.week > a {
  position:absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
  text-decoration:none;
  color: #1f1f2e;
}

.week > a:hover {
  font-weight: bold;
  font-size: 110%;
}

.add_dinner {
  border-color: #99b2ff;
  background-color: #e5ecff;
  border-style: dashed;
}

.dinner {
  border-color: #99b2ff;
  background-color: #99b2ff;
  border-style: solid;
  border-radius: 5px;
}

.add_breakfast {
  border-color: #ffff33;
  background-color: #ffffe5;
  border-style: dashed;
}

.breakfast {
  border-color: #ffff33;
  background-color: #ffff33;
  border-style: solid;
  border-radius: 5px;
}

.add_lunch {
  border-color: #ff6666;
  background-color: #ffcccc;
  border-style: dashed;
}

.lunch {
  border-color: #ff6666;
  background-color: #ff6666;
  border-style: solid;
  border-radius: 5px;
}

img {
  margin: auto;
}

nav {
  background-color: #3E3C4A;
  padding: 30px;
  text-align: right;
  font-family: 'Allan', Helvetica, Arial, sans-serif;
}

nav a {
  color: #FFFFFF;
  padding: 10px;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  width: 100px;
  height: auto;
  align-self: left;
}
